/* color palette from <https://github.com/vuejs/theme> */
:root {
    --page-background: linear-gradient(#171717 0%, #0A0A0A 100%);
    --nav-page-title-color: #6000DA;
    --purple: #8E5BB5;
    --hr-color: #404040;
    --web-bg: #0F0F11;
    --web-scroller: #181818;
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

.invisible {
    opacity: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: white;
    background: linear-gradient(#171717 0%, #0A0A0A 100%);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "ZenDots";
    src: url("./fonts/ZenDots-Regular.ttf");
}
